@import "../list/list.scss";
@import "../../css/variables/helpers";

.container_allvideos {
  margin: 0 auto;
  width: $width-content;

  @media (max-width: $tablet) {
    width: 100vw;
  }

  &__title {
    height: 4.5em;
    line-height: 4.3em;

    h1 {
      color: $bg-header-color;
      font-size: 1.7em;
      font-weight: normal;
    }
  }
}


.allvideos {
  .video {
    display: inline-flex;
    margin: 10px 12px;
    width: 31.6%;

    @media (max-width: $tablet) {
      display: flex;
      margin: .7em;
      width: auto;
    }

    &:nth-child(3n+3) {
      margin-right: 0;

      @media (max-width: $tablet) {
        margin-right: .7em;
      }
    }

    &:nth-child(3n+1) {
      margin-left: 0;

      @media (max-width: $tablet) {
        margin-left: .7em;
      }
    }
  }

  &__more {
    // @extend .list__more;
    width: 364px;
    margin: 10px auto;

    @media (max-width: $tablet) {
      width: 90%;
    }

    &.disable {
      display: none;
    }
  }
}
